<div class="main users-new">
  <div class="container">
    <div class="form-heading">ログイン</div>
    <div class="form users-form">
      <div class="form-body">
        <% if @error_message %>
          <div class="form-error">
            <%= @error_message %>
          </div>
        <% end %>
        <!-- form_tagメソッドを追加してください -->
        <%= form_tag("/login") do %>
          <p>メールアドレス</p>
          <!-- name属性を追加してください -->
          <input name="email">
          <p>パスワード</p>
          <!-- name属性を追加してください -->
          <input type="password" name="password">
          <input type="submit" value="ログイン">
        <!-- form_tag用のendを追加してください -->
        <% end %>
      </div>
    </div>
  </div>
</div>
